APP_ENV=dev
DATABASE_URL=DATABASE_URL=mysql+pymysql://netstars:qM1M9H1bfqmXJ$MkAMSmwXTgAGm4!Fmx&TpbU$9y@10.5.0.9:3306/goku_router?charset=utf8mb4
ROUTER_API_KEYS=demo-router-key
PROVIDER_PROVIDER_PRIMARY_BASE_URL=
PROVIDER_PROVIDER_PRIMARY_API_KEY=
